<aside id="room-menu-container" class="room-menu-container">
  <section class="room-menu">
    <nav id="minibar" class="minibar">
      <div class="minibar-inner nano">
        <ul id="minibar-list" class="room-menu-options nano-content">
          <li class="room-menu-options__item--header-spacer">
            {{> svg-gitter-logo class="room-menu-options__item-logo-icon" }}
          </li>
          <li data-state-change="all" id="minibar-all"  class="room-menu-options__item--all">
            {{! the above li is passed to a Marionette view as its el so, sadly, we need to wrap these in divs}}
            <div class="room-menu-options__container">
              {{> minibar_activity_indicators}}
              <button class="room-menu-options__item-button" title="All Conversations">
                {{> svg-home }}
              </button>
            </div>
          </li>

          <li data-state-change="search" id="minibar-search" class="room-menu-options__item--search">
            <div class="room-menu-options__container">
              <button class="room-menu-options__item-button" title="Search Gitter">
                {{> svg-search }}
              </button>
            </div>
          </li>

          <li data-state-change="people" id="minibar-people" class="room-menu-options__item--people">
            <div class="room-menu-options__container">
              {{> minibar_activity_indicators}}
              <button class="room-menu-options__item-button" title="Your One to One Conversations">
                {{> svg-people }}
              </button>
            </div>
          </li>

          <li data-state-change="people" id="minibar-groups" class="room-menu-options__item--groups">
            <div class="room-menu-options__container">
              <button class="room-menu-options__item-button" title="Your Communities">
                {{> svg-groups }}
              </button>
            </div>
          </li>

          <li id="minibar-collection" class="minibar-collection">
            <ul class="minibar-collection-list">
              {{#each leftMenu.groupFavourites}}
                {{#if favourite}}
                  <li
                    id="minibar-{{id}}"
                    class="room-menu-options__item--org"
                    data-id="{{id}}"
                    data-type="minibar-group"
                    data-state-change="org">
                    {{{ prerenderView "js/views/menu/room/minibar/minibar-item-view" }}}
                  </li>
                {{/if}}
              {{/each}}
            </ul>
          </li>

          <li class="room-menu-options__item--community-create" data-state-change="community-create" id="minibar-community-create">
            <div class="room-menu-options__container">
              <button class="room-menu-options__item-button" title="Create a new community">
                <div class="room-menu-options__item__community-create-icon">+</div>
              </button>
            </div>
          </li>

          <li data-state-change="close" id="minibar-close"  class="room-menu-options__item--close {{#if leftMenu.roomMenuIsPinned}}left{{/if}}">
            <div class="room-menu-options__container">
              <button id="menu-toggle-button" class="room-menu-options__item-button menu-toggle-button" title="Toggle left menu">
                {{> pinned-hamburger-menu-icon }}
              </button>
            </div>
          </li>

        </ul>
      </div>
    </nav>
    <div id="room-menu__panel">
      <section class="room-menu__panel {{#if leftMenu.roomMenuIsPinned}}active loading{{/if}}">
        <div class="header-brand-container">
          <img class="header-brand-container__logo" src='{{cdn "images/svg/gitter-logos/logo-white-lettering.svg"}}' />
          {{#if showHiringBadge}}
            <a class="button-gitlab--xsmall" href="https://boards.greenhouse.io/gitlab/jobs/4114968002" target="_blank" style="margin-right: 1em; padding: 0.25em 1em;">
              We're hiring!
            </a>
          {{/if}}
        </div>

        <div id="group-back-button" class="group-back-button"></div>

        <header class="panel-header" id="panel-header"></header>
        <div id="panel" class="room-menu__panel-inner nano">
          {{! JP 5/1/15
              NANO SCROLLER DOES SUPER WEIRD THINGS WITH Z-INDEXES SO THE FOOTER COMES FIRST }}
          <footer id="panel-footer" class="panel-footer-container"></footer>

          <div class="nano-content panel-content">
            <div id="search-input" class="left-menu-search-root"></div>
            <div class="group-home-button" id="group-home-button"></div>

            <section id="favourite-collection" class="left-menu-collection">
              <div class="favourite-collection loaded active">
                <div id="collection-list" class="collection-list--favourite">
                  {{#each leftMenu.favourites}}
                    <div
                      class="{{#if isNotOneToOne}}room-item--favourite{{else}}room-item--favourite-one2one{{/if}} {{#if isHidden}}hidden{{/if}}"
                      id="{{id}}"
                      data-id="{{id}}"
                      data-type="room">
                      {{{ prerenderView "js/views/menu/room/primary-collection/primary-collection-item-view" }}}
                    </div>
                  {{/each}}
                </div>
              </div>
            </section>

            <section id="primary-collection" class="left-menu-collection">
              <div class="primary-collection loaded active">
                <header>
                  <h2 class="collection__title hidden" id="collection-header-text">Rooms &amp; People</h2>
                  <i id="dismiss-suggestion" class="icon-cancel-circle collection-header__dismiss-suggestion hidden"></i>
                </header>
                <div id="collection-list" class="collection-list--primary">
                  {{#each leftMenu.rooms}}
                    <div
                      class="{{#if isNotOneToOne}}{{#if favourite}}room-item--favourite{{else}}room-item{{/if}}{{else}}room-item--one2one{{/if}} {{#if isHidden}}hidden{{/if}}"
                      id="{{id}}"
                      data-id="{{id}}"
                      data-type="room">
                      {{{ prerenderView "js/views/menu/room/primary-collection/primary-collection-item-view" }}}
                    </div>
                  {{/each}}
                </div>
              </div>
            </section>

            <section id="secondary-collection" class="left-menu-collection"></section>
            <section id="tertiary-collection" class="left-menu-collection"></section>
          </div>
        </div>
      </section>
    </div>
  </section>
</aside>
